{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if change %}
    <li>
      <a href="{% url opts|admin_urlname:'preview' original.pk %}" class="button">
        {% translate "Preview" %}
      </a>
    </li>
    {% if original.status == "draft" and perms.mvp_compliance.publish_version %}
    <li>
      <a href="{% url opts|admin_urlname:'publish' original.pk %}" class="button">
        {% translate "Publish" %}
      </a>
    </li>
    {% endif %}
    {% if original.status == "current" %}
    <li>
      <a href="{% url 'admin:mvp_compliance_version_add' %}?document={{ original.document_id }}"
         class="button">
        {% translate "Start the next version" %}
      </a>
    </li>
    {% endif %}
  {% endif %}
  {{ block.super }}
{% endblock %}
