{% extends "page_view.html" %}
{% load i18n %}
{% block page.actions %}
  {% if previous_versions %}
    <c-dropdown halign="end" ghost text="{% trans "Previous versions" %}">
      <ul class="menu menu-sm w-full">
        {% for previous in previous_versions %}
          <li>
            <a href="{% url 'mvp_compliance:version' document.slug previous.number %}">{% blocktranslate with number=previous.number date=previous.published_at|date %}v{{ number }} · published {{ date }}{% endblocktranslate %}</a>
          </li>
        {% endfor %}
        <li>
          <a href="{% url 'mvp_compliance:versions' document.slug %}">{% translate "All versions" %}</a>
        </li>
      </ul>
    </c-dropdown>
  {% endif %}
{% endblock page.actions %}
{% block page.content %}
  <div class="prose max-w-none">{{ version.html|safe }}</div>
{% endblock page.content %}
