{% extends "page_view.html" %}
{% load i18n %}
{% block page.content %}
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% translate "Version" %}</th>
          <th scope="col">{% translate "In force from" %}</th>
          <th scope="col">{% translate "Replaced on" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for version in versions %}
          <tr>
            <th scope="row"><a class="link" href="{% url 'mvp_compliance:version' document.slug version.number %}">{{ version.number }}</a></th>
            <td>{{ version.published_at|date }}</td>
            <td>{% if version.replaced_at %}{{ version.replaced_at|date }}{% else %}{% translate "In force" %}{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock page.content %}
